body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
}

/* Figuras */

.Forms {
  position: relative;
  height: 290px;
  width: 415px;
}

.Triangulo {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 136px solid transparent;
  border-right: 136px solid transparent;
  border-bottom: 220px solid #f4a097;
  bottom: 0;
  left: 0;
}
.Cuadrado {
  height: 202px;
  width: 202px;
  background-color: #34CCCC;
  position: absolute;
  top: 0;
  left: 71px;
}
.Circulo {
  border-radius: 50%;
  height: 229px;
  width: 229px;
  background-color: #8d7aff;
  position: absolute;
  top: 43px;
  left: 171px;
}
/* Introducción */

.MainSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

}

.IntroductionContainer {
  width: 421px;
  height: fit-content;
  width: fit-content;
  margin-right: 50px;
}

.IntroductionContainer h1 {

  font-weight: 500;
  color: #505050;
  font-size: 35px;
  margin-bottom: 15px;
  
}
.IntroductionContainer h4 {
  font-weight: 400;
  color: #585858;
  font-size: 25px;

}

.RedesContainer {

writing-mode: vertical-lr;
position: sticky;
right: 20px;
top: 60px

}

.RedesContainer h4 {

  font-weight: 500;
  color: #8d7aff;
  font-size: 20px;

}

/* Proyecto 1 */
/* 
#parallax-lvl-0, #parallax-lvl-1, #parallax-lvl-2, #parallax-lvl-3 {
  position: absolute;
  top: 0;
}
#parallax-lvl-1 {
  z-index:0;
}
#parallax-lvl-2 {
  z-index:10;
}
#parallax-lvl-3 {
  z-index:100;
}

.bubble {
  border-radius: 100%;
  position: absolute;
  opacity: 0.7;
}
.size1 {
  width:100px;
  height:100px;
}
.size2 {
  width:200px;
  height:200px;
}
.size3 {
  width:300px;
  height:300px;
}
.size4 {
  width:400px;
  height:400px;
}
.white {
  background-color: #ededed;
}
.blue {
  background-color: #5799a9;
}
.pink {
  background-color: #e86d65;
}
.orange {
  background-color: #e59e70;
}
.purple {
  background-color: #8c5e7a;
}
.green {
  background-color: #1d7f59;
}

/* Bubble positions */
/* #b0-1 {
  top:-30px;
  left:-200px;
}
#b0-2 {
  top:200px;
  left:720px;
}
#b0-3 {
  top:500px;
  left:0px;
}
#b0-4 {
  top:400px;
  left:-560px;
}
#b0-5 {
  top:820px;
  left:480px;
}
#b0-6 {
  top:1300px;
  left:-180px;
}
#b0-7 {
  top:1300px;
  left:200px;
}
#b0-8 {
  top:1200px;
  left:820px;
}
#b0-9 {
  top:1400px;
  left:-500px;
}
#b0-10 {
  top:800px;
  left:160px;
}
#b0-11 {
  top:720px;
  left:-380px;
}
#b0-12 {
  top:550px;
  left:680px;
}


#b1-1 {
  top:-120px;
  left:-200px;
}
#b1-2 {
  top:1000px;
  left:-220px;
}
#b1-3 {
  top:300px;
  left:300px;
}
#b1-4 {
  top:400px;
  left:-260px;
}
#b1-5 {
  top:820px;
  left:880px;
}
#b1-6 {
  top:10px;
  left:580px;
}

#b2-1 {
  top:700px;
  left:580px;
}
#b2-2 {
  top:150px;
  left:330px;
}
#b2-3 {
  top:1000px;
  left:-550px;
}
#b2-4 {
  top:1200px;
  left:360px;
}
#b2-5 {
  top:1600px;
  left:480px;
}
#b2-6 {
  top:1550px;
  left:200px;
}

#b3-1 {
  top:50px;
  left:-400px;
}
#b3-2 {
  top:1150px;
  left:530px;
}
#b3-3 {
  top:550px;
  left:130px;
}
#b3-4 {
  top:1900px;
  left:-100px;
}
#b3-5 {
  top:1000px;
  left:200px;
}
#b3-6 {
  top:860px;
  left:-400px;
} */


/* BUBBLES */

.ProjectContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  width: 100%;
  position: relative;
  /* overflow: hidden; */
}
.ProjectContainerInv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  width: 100%;
  flex-direction: row-reverse;
}

.ProjectText {
  width: 460px;
  /* display: none; */
}

.Vermas {
  margin-top: 35px;
  font-weight: 400;
}

.VerMenos {
  position: sticky;
  bottom: 100px;
  top: 90vh;
  margin-left: 120%;
  width: 50px;
  text-align: center;
}

.Hover {
  opacity: 0;
  transition: .3s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  font-size: 15px;
  font-weight: 200;
  text-align: center;
}

.VerMenos:hover .Hover{
  opacity: 1;
}

.VerMenos:hover img {
  opacity: 0;
}

.Project1 {
  background-color: #a15c79;
  color: #ffffff;
}

.Project2 {
  background-color: #34CCCC;
  color: #ffffff
}
.Project3 {
  background-color: #ffffff;
  color: #FF7575;
}
.Project4 {
  background-color: #FF7575;
  color: #ffffff;
}

.HeaderImage  {
  position:absolute;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
}

.ProjectTitle {
  font-weight: 700;
  font-size: 25px;
}
.ProjectIntro {
  font-weight: 200;
  font-size: 20px;
}

.ProjectBar {
  width: 163px;
  margin-left: 0;
  border: 1px solid #ffffff;
  margin-top: 14px;
  margin-bottom: 17px;
}

.Project3 .ProjectBar {
  border: 1px solid #FF7575; 
}

.ProjectImages {
  margin-top: 60px;
  margin-bottom: 50px;
  display: flex;
  height: 679px;
  width: fit-content;
  position: relative;
}

.ProjectImagesInv {
  margin-top: 60px;
  margin-bottom: 50px;
  display: flex;
  height: 679px;
  width: fit-content;
  margin-right: 111px;
  position: relative;
}

.ProjectContainerInv .ProjectText {
  margin-right: 111px;
}

.MockupSize {
  width: 344px;
  height: 562px;
  z-index: 30;
  position: relative;
}

.UpImage {
  align-self: flex-start;
}
.DownImage {
  align-self: flex-end;
}

.UpGif {
  position: absolute;
  width: 212px;
  top: 44px;
  left: 102px;
}
.DownGif {
  position: absolute;
  width: 212px;
  top:161px;
  left:446px;

}

/* Project 1 Content */

.ContentContainer {

  display: flex;
  flex-direction: column;
  width: 784px;
  position:relative;
}

.ProjectSection {
  margin-bottom: 40px;
  display: none;
}


.SectionTitle {

  font-size: 25px;
  font-weight: 500;
}

.SectionSubtitle {

  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.LongBar {

  width: 276px;
  margin-left: 0;
  border: 1px solid #ffffff;
  margin-top: 14px;
  margin-bottom: 17px;
}

.Quote {

  font-size: 20;
  font-style: italic;
  font-weight: 200;
}

.Quote b{

  font-size: 20;
  font-style: italic;
  font-weight: 500;
}

.GeneralText {

    font-size: 20;
    font-weight:200;
    margin-top: 14px;
}

.GeneralText b {

  font-weight: 500;
}

li{
  margin-left: 20px;
  margin-bottom: 15px;
}

.ContentImage {

  width: 100%;
  margin-top: 35px;
  margin-bottom: 30px;
}

.MediumImage {

  width: 45%;
}

.WiderContainer {

  display: flex;
  justify-content: space-between;
  width: 140%;
  margin-left:-20% ;
}

.BigImage{

  display: flex;
  justify-content: center;
  width: 120%;
  margin-left: -10%;
}
